@use './variaveis';
@use './mixins';

@media (max-width: 992px) { 
  
    header {
        transition: background-color 0.5s, box-shadow 0.3s;
        z-index: 2000;

        .show {
            margin: 25px 0 18px 0 !important;
        }

        .container-fluid {
            flex-direction: column !important;
        }

        .navbar {
            --bs-navbar-toggler-icon-bg: url("/assets/arrowdown-pink.png") !important;
            --bs-navbar-toggler-border-color: none !important;
            --bs-navbar-padding-y: 0!important;
    
            .navbar-toggler:focus { box-shadow: none; }
    
            .btn { @include mixins.btn-primary-pink; }
            
            .nav-link {
              font-size: 14px;
              color: variaveis.$bg-white;
              border: 1px solid transparent;
              transition: .3s ease-in-out;
        
              &:hover {
                border: 1px solid variaveis.$primary;
                color: variaveis.$bg-white;
              }
              
              &.active {
                background-color: variaveis.$primary;
                color: variaveis.$secondary;
              }
            }
    
            .navbar-toggler-icon {
              &.open-icon { background-image: url("/assets/arrowup-red.png"); }
            
              &.close-icon { background-image: url("/assets/arrowdown-pink.png"); }
            }
    
            .menu-btn { button { width: 170px; } }
          }

          nav.menu-open {
            background-color: variaveis.$bg-offwhite;
            border-radius: 0 0 10px 10px;
          
            .nav-link { @include mixins.menu-scrolled; }
          }
    }

    header.header-scrolled {
        .navbar {
            --bs-navbar-toggler-icon-bg: url("/assets/arrowdown-red.png") !important;
        }
    }

    main {
        #title-section {
            .bg-header, img {
                display: none;
            }

            .img-title-services {
                margin: 0!important;
            }

            button {
                @include mixins.btn-primary-pink;
            }
        }

        #descricao-section {
            .checks {
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        #carousel-section {
            display: none;
        }

        #services-section {
            padding-top: 1rem;

            .lead {
                font-size: 14px;
            }

            h1 {
                font-size: 33px;
                margin-bottom: 0;
            }
        }

        // Página de serviços
        #services-services {
            
            h2 {
                text-align: center!important;
            }

            .ul-services {
                li {
                    justify-content: start!important;

                }
            }

            .col-img {
                display: none;
            }
        }
    }
}