@use './variaveis';
@use './mixins';

@media (max-width: 992px) { 
  
    header {
        .show {
            margin: 25px 0 18px 0 !important;
        }

        .container-fluid {
            flex-direction: column !important;
        }
    }

    header.header-scrolled {
        .navbar {
            --bs-navbar-toggler-icon-bg: url("/assets/arrowdown-red.png") !important;
        }
    }

    main {
        #title-section {
            .bg-header, img {
                display: none;
            }

            .img-title-services {
                margin: 0!important;
            }

            button {
                @include mixins.btn-primary-pink;
            }
        }

        #descricao-section {
            .checks {
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        #carousel-section {
            display: none;
        }

        #services-section {
            padding-top: 1rem;

            .lead {
                font-size: 14px;
            }

            h1 {
                font-size: 33px;
                margin-bottom: 0;
            }
        }

        // Página de serviços
        #services-services {
            
            h2 {
                text-align: center!important;
            }

            .ul-services {
                li {
                    justify-content: start!important;

                }
            }

            .col-img {
                display: none;
            }
        }
    }
}