@use './variaveis';

@mixin font-title {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    color: variaveis.$secondary;
}

@mixin font-subtitle {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: variaveis.$tertiary;
}

@mixin btn-primary-pink {
    background-color: variaveis.$primary;
    color: variaveis.$secondary;
    border: 1px solid variaveis.$primary;
    transition: .3s ease-in-out;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;

    &:hover {
        background-color: variaveis.$secondary;
        border: 1px solid variaveis.$secondary;
        color: variaveis.$bg-white;
    }

    &:active {
        background-color: variaveis.$quaternary !important;
        border: 1px solid variaveis.$quaternary !important;
    }
}

@mixin btn-secondary-red {
    background-color: variaveis.$quaternary;
    color: variaveis.$bg-white;
    border: 1px solid variaveis.$quaternary;
    transition: .3s ease-in-out;
    font-weight: bold;

    &:hover {
        background-color: variaveis.$primary;
        border: 1px solid variaveis.$primary;
        color: variaveis.$secondary;
    }

    &:active {
        background-color: variaveis.$secondary !important;
        border: 1px solid variaveis.$secondary !important;
        color: variaveis.$bg-white;
    }
}

@mixin menu-scrolled {
    color: variaveis.$secondary;
    border: 1px solid variaveis.$bg-offwhite;
    &:hover {
      border: 1px solid variaveis.$secondary;
      color: variaveis.$secondary;
    }
    
    &.active {
      background-color: variaveis.$quaternary;
      color: variaveis.$bg-white;
      border: 1px solid variaveis.$quaternary;
    }
}