@use '../abstract/variaveis';
@use '../abstract/mixins';

#form-section {
    background: linear-gradient(180deg, variaveis.$bg-offwhite 5%, variaveis.$quaternary 85%) !important;
    

    .text-form {
        max-width: 700px;
        h3 {
            font-size: 34px;
            color: variaveis.$secondary;
        }

        p {
            color: variaveis.$tertiary;
        }
    }
    
    .form-email {
        max-width: 500px;
        color: variaveis.$tertiary;

        button {
            @include mixins.btn-primary-pink;
        }

        input::placeholder, textarea::placeholder {
            font-size: 13px;
            opacity: .8;
        }
    }
}

