@use '../abstract/variaveis';
@use '../abstract/mixins';

main {
    #title-section {
        background: linear-gradient(240deg, variaveis.$tertiary, variaveis.$quaternary, #c59da7);
        .my-5 {
        margin-top: 0 !important;

        h1 {
            font-size: 70px !important;
        }

        .btn-outline-primary {
            @include mixins.btn-secondary-red;
          }
      }
    }
}